.card{
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.reviewForm{
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
form{
    width: 225px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


label{
    width: max-content;
    color:tomato;
    font-style: 13px;
    border-bottom: .5px solid tomato;
    margin: 2px 0;
}

.desc{
    font-size: 14px;
}
.star{
    color: gold;
}

.username{
    font-size: 14px;
}
.date{
    font-size: 12px;
}


input,select,textarea{
    width: 80%;
    border:none;
    border-bottom: 1px solid #000;
}
input::placeholder,textarea::placeholder{
    font-size: 12px;
    color: rgb(193, 189, 189);
}
.submitButton{
    width: 80%;
    border:none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: tomato;
    cursor: pointer;
}

.button{
    cursor: pointer;
    border: none;
    padding: 5px;
    background-repeat: 5px;
    color: white;
    background-color: tomato;

}

.login{
    margin-right: 10px;
    background-color: teal;
}

.register{
    background-color: slateblue;
}

.buttons,.logout{
    position:absolute;
    top: 10px;
    right: 10px;

}